Python and Science - https://github.com/egalli64/pysci

Kaggle Courses - Pandas - https://www.kaggle.com/learn/pandas

Renaming and Combining - https://www.kaggle.com/code/residentmario/renaming-and-combining

In [2]:
# Setup /1: only pandas is used here
import pandas as pd

In [4]:
# Setup /2: generate the data frame used for examples

reviews = pd.DataFrame({
    'country': ['Italy', 'Portugal', 'US', 'Italy', 'Canada', 'France', 'Italy','Australia', 'New Zealand'],
    'description': ['A', 'B tropical', 'C', 'D', 'E', 'F', 'E fruity', 'H', 'I'],
    'price': [12, 41, 34, 18, 27, 32, 43, 22, 12], 
    'winery': ['A 21', 'B 34', 'C 54', 'D 21', pd.NA, 'F 43', 'G 44', 'H 11', 'I 32'],
    'points': [85, 88, 87, 92, 81, 95, 84, 97, 80],
    'variety': ['a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a'],
    'title': ['a a', 'b b', 'c c', 'd d', 'e e', 'f f', 'g g', 'h h', 'i i'],
    'province': ['A', 'AP', 'AUSA', 'B', 'A', 'A', 'A','A', 'ANZ'],
    'taster_name': ['a', 'b', 'c', 'b', 'a', 'c', 'a', 'b', 'c'],
    'region_1': ['a', pd.NA, 'c', 'b', pd.NA, pd.NA, pd.NA, 'b', 'c'],
})

reviews.head(10)

,country,description,price,winery,points,variety,title,province,taster_name,region_1
0,Italy,A,12,A 21,85,a,a a,A,a,a
1,Portugal,B tropical,41,B 34,88,b,b b,AP,b,<NA>
2,US,C,34,C 54,87,a,c c,AUSA,c,c
3,Italy,D,18,D 21,92,b,d d,B,b,b
4,Canada,E,27,<NA>,81,a,e e,A,a,<NA>
5,France,F,32,F 43,95,b,f f,A,c,<NA>
6,Italy,E fruity,43,G 44,84,a,g g,A,a,<NA>
7,Australia,H,22,H 11,97,b,h h,A,b,b
8,New Zealand,I,12,I 32,80,a,i i,ANZ,c,c

# Renaming

rename() - change index/column names

In [8]:
# rename a column
reviews.rename(columns={'points': 'score'})

,country,description,price,winery,score,variety,title,province,taster_name,region_1
0,Italy,A,12,A 21,85,a,a a,A,a,a
1,Portugal,B tropical,41,B 34,88,b,b b,AP,b,<NA>
2,US,C,34,C 54,87,a,c c,AUSA,c,c
3,Italy,D,18,D 21,92,b,d d,B,b,b
4,Canada,E,27,<NA>,81,a,e e,A,a,<NA>
5,France,F,32,F 43,95,b,f f,A,c,<NA>
6,Italy,E fruity,43,G 44,84,a,g g,A,a,<NA>
7,Australia,H,22,H 11,97,b,h h,A,b,b
8,New Zealand,I,12,I 32,80,a,i i,ANZ,c,c

In [7]:
# rename index by dict, key is the old name, value the new one
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

,country,description,price,winery,points,variety,title,province,taster_name,region_1
firstEntry,Italy,A,12,A 21,85,a,a a,A,a,a
secondEntry,Portugal,B tropical,41,B 34,88,b,b b,AP,b,<NA>
2,US,C,34,C 54,87,a,c c,AUSA,c,c
3,Italy,D,18,D 21,92,b,d d,B,b,b
4,Canada,E,27,<NA>,81,a,e e,A,a,<NA>
5,France,F,32,F 43,95,b,f f,A,c,<NA>
6,Italy,E fruity,43,G 44,84,a,g g,A,a,<NA>
7,Australia,H,22,H 11,97,b,h h,A,b,b
8,New Zealand,I,12,I 32,80,a,i i,ANZ,c,c

In [7]:
# rename index (axis rows) and the axis columns
reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

fields,country,description,price,winery,points,variety,title,province,taster_name,region_1
wines,,,,,,,,,,
0,Italy,A,12,A 21,85,a,a a,A,a,a
1,Portugal,B tropical,41,B 34,88,b,b b,AP,b,<NA>
2,US,C,34,C 54,87,a,c c,AUSA,c,c
3,Italy,D,18,D 21,92,b,d d,B,b,b
4,Canada,E,27,<NA>,81,a,e e,A,a,<NA>
5,France,F,32,F 43,95,b,f f,A,c,<NA>
6,Italy,E fruity,43,G 44,84,a,g g,A,a,<NA>
7,Australia,H,22,H 11,97,b,h h,A,b,b
8,New Zealand,I,12,I 32,80,a,i i,ANZ,c,c

# Combining

pd.concat() - simplest
pd.join()
pd.merge() - most complex

In [15]:
# concat - same column names
more_reviews = pd.DataFrame({
    'country': ['France'],
    'description': ['F'],
    'price': [34], 
    'winery': ['A 21'],
    'points': [82],
    'variety': ['b'],
    'title': ['a a'],
    'province': ['A'],
    'taster_name': ['a'],
    'region_1': ['a'],
})

pd.concat([reviews, more_reviews])

,country,description,price,winery,points,variety,title,province,taster_name,region_1
0,Italy,A,12,A 21,85,a,a a,A,a,a
1,Portugal,B tropical,41,B 34,88,b,b b,AP,b,<NA>
2,US,C,34,C 54,87,a,c c,AUSA,c,c
3,Italy,D,18,D 21,92,b,d d,B,b,b
4,Canada,E,27,<NA>,81,a,e e,A,a,<NA>
5,France,F,32,F 43,95,b,f f,A,c,<NA>
6,Italy,E fruity,43,G 44,84,a,g g,A,a,<NA>
7,Australia,H,22,H 11,97,b,h h,A,b,b
8,New Zealand,I,12,I 32,80,a,i i,ANZ,c,c
0,France,F,34,A 21,82,b,a a,A,a,a

In [16]:
# join - same indices
left = reviews.set_index(['country', 'province'])
right = more_reviews.set_index(['country', 'province'])

left.join(right, lsuffix='_1', rsuffix='_2')

,,description_1,price_1,winery_1,points_1,variety_1,title_1,taster_name_1,region_1_1,description_2,price_2,winery_2,points_2,variety_2,title_2,taster_name_2,region_1_2
country,province,,,,,,,,,,,,,,,,
Italy,A,A,12,A 21,85,a,a a,a,a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portugal,AP,B tropical,41,B 34,88,b,b b,b,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
US,AUSA,C,34,C 54,87,a,c c,c,c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Italy,B,D,18,D 21,92,b,d d,b,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,A,E,27,<NA>,81,a,e e,a,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
France,A,F,32,F 43,95,b,f f,c,<NA>,F,34.0,A 21,82.0,b,a a,a,a
Italy,A,E fruity,43,G 44,84,a,g g,a,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,A,H,22,H 11,97,b,h h,b,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New Zealand,ANZ,I,12,I 32,80,a,i i,c,c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN